body{
    background-image: url(bg.png);
    background-size: cover;
}

.cont{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}

#in{
    width: 80%;
}

#btn{
    border-radius: 10px;
    font-size: large;
}

#big{
    font-size: x-large;
}

#btn:hover{
    cursor: pointer;
    background-color: rgb(231, 100, 100);
}